header {
  font-size: 2.8vb;
}
h1 {
  cursor: default;
}
a:hover {
  color: #add8e6;
}
/* Media Querries */
@media only screen and (max-width: 600px) {
  header {
    font-size: large;
  }
  form button {
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    width: 100%;
    margin: 0%;
    border-radius: 35px;
    cursor: pointer;
  }
  gallery-container img {
    width: 30%;
    height: auto;
    margin: 10px;
    border-radius: 10px;
  }
  img {
    height: 100%;
  }
}
